.App {
  min-height: 100vh;
  margin: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code-card {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  max-width: 310px;
}

.qr-description {
  width: 100%;
  padding: 0 12px;
}

.qr-code-card img {
  border-radius: 12px;
  width: 100%;
  margin-bottom: 24px;
}

.qr-code-card h2 {
  margin-bottom: 24px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 22px;
}

.qr-code-card p {
  margin-bottom: 24px;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}
